.dropdown_container {
  width: 200px;
  margin: 9px auto;
  padding-top: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
}

image {
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}
