$bg-img: url('../../assets/bg-img.png');

body, html {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  text-align: center;
  background-image: url(assets/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;

  .card {
    display: flex;
    justify-content: center;
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }
}


